<!-- head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if(locals.errores){ %>
				<p> <%= errores.message%> </p>
			<% } %>
			<h2 class="col-12 formularios"> 
				<form action="/users/profile/edit" method ="POST">
					<div class="forms">
						<% if (locals.user != undefined) { %>
						<input type="email" name="email" value="<%=user.email%>" placeholder="EMAIL">
					</div>
					<div class="forms">
						<input type="text" name="usuario" value="<%=user.usuario%>" placeholder="USUARIO">
					</div>
					<div class="forms">
						<input type="password" name="pass" value="" placeholder="CONTRASEÑA">
					</div>
					<div class="forms">
						<input type="date" name="date" value="">
					</div>
					<div class="forms">
						<input type="number" name="number" value="" placeholder="DNI">
					</div>
					<div class="forms">
						<input type="text" name="imagen" value="" placeholder="NOMBRE DE LA IMAGEN">
					</div>
					<div class="forms">
						<button class="formularios" type="submit" >Editar</button>
						<% } %>
					</div>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>